@charset "UTF-8";

body {
  background: #000;
}

/* 非表示 */
.hide {
  display: none !important;
}

.intro {
  color: #1ac0ce;
  font-size: 32px;
  text-align: center;
  font-family: "Calibri", Times, serif;
  padding-top: 160px;
  
  /*margin-top: 25%;*/
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /*width: 500px;*/
  height: auto;
  display: none;
  text-align: center;
}

.titleanimation {
  display: block;
  -webkit-animation: titlescale ease 15s;
  -moz-animation: titlescale ease 15s;
  -ms-animation: titlescale ease 15s;
  animation: titlescale ease 15s;
}

@-webkit-keyframes titlescale {
	0% {
    -webkit-transform: scale(3.0);
  }
  2% {
    -webkit-transform: scale(2);
  }
	100% {
    -webkit-transform: scale(0.01);
  }
}

@keyframes titlescale {
  0% {
    transform: scale(3.0);
  }
  2% {
    transform: scale(2);
  }
	100% {
    transform: scale(0.01);
  }
}

.text{
  color: #ffd527;
  position: absolute;
  width: 18em;
  height: 90em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 350%;
  font-weight: bold;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(25deg);
}

.text:after {
  position: absolute;
  content: ' ';
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
}

.textinner{
  position: absolute;
  top: 100%;
}

.textanimation {
  -webkit-animation: scroll 200s linear 4s;
	animation: scroll 200s linear 4s;
}

.app-index-container-gaia {
    background-color: black;
}


.gaia-app-indexview-customview-html {
    height: 603px;
}

/*color of breadcrumb text*/
.gaia-argoui-app-breadcrumb-item{
	    color: #ffd527;
}

/*background behind the breadcrumbs*/
.gaia-argoui-app-breadcrumb-path {
    background: black;
}

/*background behind the view and graph tools*/
.gaia-argoui-app-toolbar {
    background-color: black;
}

/*background behind record count*/
.gaia-argoui-app-index-pager {
    height: 20px;
    background-color: black;
}

/*page count color*/
.component-app-listtable-countitem>span {
    color: #ffd527;
}

/*border above custom view area*/
.app-index-contents-gaia>.box-gaia {
    border-top: 0px solid #e3e7e8;
}

/*design of view button*/
.gaia-argoui-app-filterbutton {
    border-radius: 24px;
	width: 48px;
    height: 48px;
    border: 3px solid #e3e7e8;
    background-color: black;
}

/*design of graph button*/
.gaia-argoui-app-subtotalbutton {
    border-radius: 24px;
    width: 48px;
    height: 48px;
    border: 3px solid #e3e7e8;
    background-color: black;
}

/*design of view dropdown*/
.gaia-argoui-app-viewtoggle .gaia-argoui-select{
    background-color: black;
    border: 1px solid black;
}

/*design of view dropdown*/
.gaia-argoui-app-viewtoggle {
    background-color: black;
    border: 4px solid black;
}

/*bottom border*/
.contents-bottommenu-gaia {
    border-top: 0px solid #e3e7e8;
}


@-webkit-keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}
